<div class="container py-5">
    <div class="row">
        <div class="col-12">
            <div class="tabs d-flex flex-wrap flex-column align-items-center justify-content-center" dir="rtl">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs d-flex  align-items-center justify-content-center  border-0" role="tablist">
                    <li class="nav-item pb-2  ">
                        <a class="nav-link labeltext border-0 active"   role="tab" [ngClass]="{'active':selectedTab == 'customer'}" (click)="selectTab('customer')">بيانات العميل</a>
                    </li>
            
                    <li class="nav-item pb-2 ">
                        <a class="nav-link labeltext  border-0 " data-toggle="tab" role="tab" [ngClass]="{'active':selectedTab == 'order'}" (click)="selectTab('order')">بيانات الطلب</a>
                    </li>
            
                    <li class="nav-item pb-2 ">
                        <a class="nav-link labeltext  border-0" data-toggle="tab"  role="tab" [ngClass]="{'active':selectedTab == 'products'}" (click)="selectTab('products')">المنتجات</a>
                    </li>
    
                    <li class="nav-item pb-2 ">
                        <a class="nav-link labeltext  border-0" data-toggle="tab"  role="tab" [ngClass]="{'active':selectedTab == 'notes'}" (click)="selectTab('notes')">الملاحظات</a>
                    </li>
    
    
                </ul>
            
    
                <div class="tab-content justify-content-center align-items-center pt-4">
                    <div *ngIf="selectedTab == 'customer'" class="tab-pane fade show active " id="description" role="tabpanel">
                        <div class="how-pos2">
                            <div class="d-flex justify-content-center">
                                <div class="ps-5">
                                    <label for="basic-url" class="form-label labeltext">اسم العميل</label>
                                    <div class="input-group mb-3">
                                      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                                    </div>
                                </div>
        
                                <div class="ps-5">
                                    <label for="basic-url" class="form-label labeltext">البريد الالكتروني</label>
                                    <div class="input-group mb-3">
                                      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                                    </div>
                                </div>
                            </div>
                           
                            <div class="d-flex">
                                <div class="ps-5">
                                    <label for="basic-url" class="form-label labeltext">رقم الهاتف الاول</label>
                                    <div class="input-group mb-3">
                                      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                                    </div>
                                </div>
        
                                <div class="ps-5">
                                    <label for="basic-url" class="form-label labeltext">رقم الهاتف الثاني</label>
                                    <div class="input-group mb-3">
                                      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                                    </div>
                                </div>
                            </div>
    
                            <div class="d-flex justify-content-between">
                                <div class="ps-5 w-100" style="max-width: 50%;">
                                    <label for="basic-url" class="form-label labeltext">المحافظة</label>
                                    
                                    <div class="w-100">
                                        <select class="form-select w-100" aria-label="Default select example">
                                            <option value = "0" selected>All</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                          </select>
                                    </div>
                                </div>
        
                                <div class="ps-5 w-100" style="max-width: 50%;">
                                    <label for="basic-url" class="form-label labeltext">المدينه</label>
                                    
                                    <div class="w-100">
                                        <select class="form-select w-100" aria-label="Default select example">
                                            <option value = "0" selected>All</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                          </select>
                                    </div>
                                </div>
                            </div>
    
                            <div class="d-flex align-items-center">
                                <div class="ps-5">
                                    <label for="basic-url" class="form-label labeltext">الشارع</label>
                                    <div class="input-group mb-3">
                                      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                                    </div>
                                </div>
        
                                <div class="d-flex align-items-center justify-content-between ps-5 ">
                                    <label for="basic-url" class="form-label mb-0 labeltext ps-2">التوصيل لقرية</label>
                                    <div class="form-check form-switch d-flex justify-content-center ">
                                        <input class="form-check-input fs-5" type="checkbox" role="switch" id="flexSwitchCheckDefault" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div  *ngIf="selectedTab == 'order'" class="tab-pane fade show active w-100" id="information" role="tabpanel">                            
                                <div class="px-4 px-3-sm w-100">
                                    <div class="d-flex align-items-center justify-content-center pb-2 w-100">
                                        
                                        <div class="ps-5 " style="">
                                            <label for="basic-url" class="form-label labeltext">نوع الطلب</label>
                                            
                                            <div class="">
                                                <select class="form-select w-100" aria-label="Default select example">
                                                    <option value = "0" selected>All</option>
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                  </select>
                                            </div>
                                        </div>
                
                                        <div class="ps-5 " style="">
                                            <label for="basic-url" class="form-label labeltext">نوع الشحن</label>
                                            <div class="">
                                                <select class="form-select w-100" aria-label="Default select example">
                                                    <option value = "0" selected>All</option>
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                  </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="d-flex align-items-center justify-content-center pb-2">
                                        <div class="ps-5 w-100" style="max-width: 50%;">
                                            <label for="basic-url" class="form-label labeltext">وسيلة الدفع</label>
                                            
                                            <div class="w-100">
                                                <select class="form-select w-100" aria-label="Default select example">
                                                    <option value = "0" selected>All</option>
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                  </select>
                                            </div>
                                        </div>
                
                                        <div class="ps-5 w-100" style="max-width: 50%;">
                                            <label for="basic-url" class="form-label labeltext">الفرع</label>
                                            <div class="w-100">
                                                <select class="form-select w-100" aria-label="Default select example">
                                                    <option value = "0" selected>All</option>
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                  </select>
                                            </div>
                                        </div>
                                    </div> -->

                                </div>
                            
                        
                    </div>
            
                    <div *ngIf="selectedTab == 'products'" class="tab-pane fade show active" id="reviews" role="tabpanel">
                        <div class="row w-100">
                            
                                <div class="col-12 d-flex justify-content-between align-items-center">
                                    <div>
                                        <h1 class="">قائمة المنتجات</h1>
                                    </div>
                                    <div class="">
                                    <button class="btn btn-secondary"  (click)="openModal()">اضافة منتج</button>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <table class="table my-2">
                                        <thead>
                                          <tr class="table-header">
                                              <th scope="col" class="text-center">#</th>
                                              <th scope="col" class="text-center">المنتج</th>
                                              <th scope="col" class="text-center">الوزن</th>
                                              <th scope="col" class="text-center">الكمية</th>
                                              <th scope="col" class="text-center">السعر</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr >
                                            <td class="text-center fs-5"></td>
                                            <td class="text-center fs-5"></td>
                                            <td class="text-center fs-5"></td>
                                            <td class="text-center fs-5"></td>
                                            <td scope="row" class="text-center">
                                                <div class="d-flex justify-content-center">
                                                    <i class="bi bi-trash3-fill text-danger me-2 fs-4" ></i>
                                                    <i class="mx-1 fs-5 text-info bi bi-pencil-square fs-4"></i>
                                                </div>
                                            </td>
                                          </tr>
                                        </tbody>
                                    </table> 
                                </div>
                        </div>
                    </div>

                    <div *ngIf="selectedTab == 'notes'" class="tab-pane fade show active" id="reviews" role="tabpanel">
                        <div class="row w-100">
                             <div class="col-12 pb-2">
                                <label class="labeltext mb-2 text-center" for="review">ملاحظات</label>
                                <textarea class="w-100 bord stext px-3 py-2" id="review" name="review" style="min-height:100px;"  ></textarea>
                              </div>

                              <div class="text-center">
                                <button class="btn btn-secondary" >اضافة</button>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal"  [ngClass]="{'d-block' :modalOpen}" tab-index="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header justify-content-end align-items-center">
                  <h3 class="text-end text-center mb-0 fs-4" dir="rtl" >{{editFlag == true ? "تعديل محافظة" : "اضافة محافظة"}}</h3>
                  <button type="button " class="btn-close ms-0" data-bs-dismiss="modal" aria-label="Close" (click) = "closeModal()"></button>
                </div>

                <form >
                  <div class="modal-body d-flex align-items-center" dir="rtl">
                      <div>
                        <input type="text" class="form-control" placeholder="اسم المنتج" aria-label="Username" aria-describedby="basic-addon1" dir="rtl" formControlName="name">
                      </div>
                      <div>
                        <input type="text" class="form-control" placeholder="الوزن" aria-label="Username" aria-describedby="basic-addon1" dir="rtl" formControlName="name">
                      </div>
                      <div>
                        <input type="text" class="form-control" placeholder="الكمية" aria-label="Username" aria-describedby="basic-addon1" dir="rtl" formControlName="name">
                      </div>
                      <div>
                        <input type="text" class="form-control" placeholder="السعر" aria-label="Username" aria-describedby="basic-addon1" dir="rtl" formControlName="name">
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click) = "closeModal()">اغلاق</button>
                    <button type="submit" class="btn btn-primary"  >{{editFlag == true ? " تعديل" : "اضافة"}}</button>
                  </div>
                </form>
              </div>
            </div>
        </div>
        
    </div>
</div>


