<div class="container">
  <h2 class="mb-4 text-center">إضافة موظف جديد</h2>
  <form [formGroup] ="employeeForm" (ngSubmit)="onSubmit()">
    <h2>البيانات الشخصيه</h2>
    <div class="form-group row">
      <div class="col-sm-9">
        <input id="name" class="form-control" formControlName="name"  placeholder="ادخل الاسم">
        <div *ngIf="employeeForm.controls['name'].invalid && employeeForm.controls['name'].touched" class="invalid-feedback">
          الاسم مطلوب
        </div>
      </div>
      <label for="name" class="col-sm-3 col-form-label text-right">الاسم</label>
    </div>
    <div class="form-group row">
      <div class="col-sm-9">
        <input id="phone" class="form-control" formControlName="phone"  placeholder="ادخل رقم الهاتف">
        <div *ngIf="employeeForm.controls['phone'].invalid && employeeForm.controls['phone'].touched" class="invalid-feedback">
          رقم الهاتف مطلوب
        </div>
      </div>
      <label for="phone" class="col-sm-3 col-form-label text-right">رقم الهاتف</label>
    </div>
    <div class="form-group row">
      <div class="col-sm-9">
        <input id="name" class="form-control" formControlName="name" placeholder="ادخل العنوان">
        <div *ngIf="employeeForm.controls['name'].invalid && employeeForm.controls['name'].touched" class="invalid-feedback">
          العنوان مطلوب
        </div>
      </div>
      <label for="name" class="col-sm-3 col-form-label text-right">العنوان</label>
    </div>
    <h2>معلومات الحساب</h2>

    <div class="form-group row">
      <div class="col-sm-9">
        <input id="name" class="form-control" formControlName="name"  placeholder="ادخل اسم المستخدم">
        <div *ngIf="employeeForm.controls['name'].invalid && employeeForm.controls['name'].touched" class="invalid-feedback">
          اسم المستخدم مطلوب
        </div>
      </div>
      <label for="name" class="col-sm-3 col-form-label text-right">اسم المستخدم</label>
    </div>
    <div class="form-group row">
      <div class="col-sm-9">
        <input id="email" class="form-control" formControlName="email"  placeholder="ادخل البريد الإلكتروني">
        <div *ngIf="employeeForm.controls['email'].invalid && employeeForm.controls['email'].touched" class="invalid-feedback">
          الرجاء إدخال بريد إلكتروني صحيح
        </div>
      </div>
      <label for="email" class="col-sm-3 col-form-label text-right">البريد الإلكتروني</label>
    </div>
    <div class="form-group row">
      <div class="col-sm-9">
        <input id="password" class="form-control" type="password" formControlName="password"  placeholder="ادخل كلمه المرور">
        <div *ngIf="employeeForm.controls['password'].invalid && employeeForm.controls['phone'].touched" class="invalid-feedback">
          كلمه المرور مطلوبه
        </div>
      </div>
      <label for="phone" class="col-sm-3 col-form-label text-right">كلمه المرور</label>
    </div>
    <h2>معلومات الموظف</h2>

    <div class="form-group row">
      <div class="col-sm-9">
        <select id="branch" class="form-control" formControlName="branch" >
          <option ></option>
        </select>
        <div *ngIf="employeeForm.controls['branch'].invalid && employeeForm.controls['branch'].touched" class="invalid-feedback">
          الفرع مطلوب
        </div>
      </div>
      <label for="branch" class="col-sm-3 col-form-label text-right">الفرع</label>
    </div>
    <div class="form-group row">
      <div class="col-sm-9">
        <select id="authorizations" class="form-control" formControlName="authorizations" >
          <option ></option>
        </select>
        <div *ngIf="employeeForm.controls['authorizations'].invalid && employeeForm.controls['authorizations'].touched" class="invalid-feedback">
الصلاحيه مطلوبه    
    </div>
      </div>
      <label for="branch" class="col-sm-3 col-form-label text-right">الصلاحيه</label>
    </div>
   
    <div class="form-group row">
      <div class="col-sm-9 offset-sm-3">
        <button type="submit" class="btn btn-primary">إضافة موظف</button>
      </div>
    </div>
  </form>
</div>


<!-- [ngClass]="{'is-invalid': employeeForm.controls['name'].invalid && employeeForm.controls['name'].touched} -->