<div class="sidebar" dir="rtl">
  <div class="sidebar-header">
    <img src="../../assets/pioneersLogo.jpeg"  alt="Logo" class="sidebar-logo" width="120" >
    
  </div>
      <!--Employee-->

  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="weight">الرئيسيه</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="auth"> الصلاحيات</a>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        المستخدمين
      </a>
      <ul  aria-labelledby="navbarDropdown" style="text-align:start;">
        <ul ><a class="dropdown-item" routerLink="employee"> الموظفين</a></ul>
        <ul ><a class="dropdown-item" routerLink="merchants"> التاجر </a></ul>
        <ul ><a class="dropdown-item" routerLink="/weight"> الوزن </a></ul>
      </ul>
    </li>







    <li class="nav-item">
      <a class="nav-link" routerLink="/link4"> المناطق</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="admin/myGroups"> الفروع</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink=""> الأعدادات</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/link7"> عرض الطلبات</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="employee/add"> تقارير الطلبات</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="city"> المدينه </a>
    </li>
  </ul>
</div>
