<div class="container-fluid">
    <div class="row mb-3">
      <div class="col-sm-9">
        <button class="btn btn-primary" [routerLink]="['/employee/add']">اضافه موظف جديد</button>
      </div>
      <div class="col-sm-3">
        <input type="text" class="form-control" placeholder="بحث">
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>تعديل</th>
          <th>الحالة</th>
          <th>الصلاحيات</th>
          <th>الفرع</th>
          <th>رقم الهاتف</th>
          <th>البريد الإلكتروني</th>
          <th>الاسم</th>
          <th>رقم التعريف</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees" >
          <td>
            <!-- <button class="btn btn-sm btn-primary">تعديل</button> -->
            <div class="d-flex justify-content-center">
              <i class="bi bi-trash3-fill text-danger me-2 fs-4"  ></i>
              <i class="mx-1 fs-5 text-info bi bi-pencil-square fs-4" ></i>
              <!-- [routerLink]="['/edit',,'employee']" -->
            </div>
          </td>
          <td>
            <!-- <div class="form-check form-switch d-flex justify-content-center">
              <input class="form-check-input" type="checkbox" [checked]="employee.status === 'Active'" (change)="toggleStatus(employee)">
            </div> -->
            <div class="form-check form-switch justify-content-center d-flex " dir="rtl">
              <input class="form-check-input fs-5 " type="checkbox" role="switch" name="status"  id="flexSwitchCheckDefault" dir="rtl" [checked]="employee.status">
            </div>    
          </td>
          <td>{{ employee.roles }}</td>
          <td>{{ employee.branchName}}</td>
          <td>{{ employee.phone }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.fullName }}</td>
          <td>{{employees.indexOf(employee)}}</td>
        </tr>
      </tbody>
    </table>
    <!-- <pagination-controls (pageChange)="p = $event" [directionLinks]="true" [autoHide]="true"
                         previousLabel="&#8592;" nextLabel="&#8594;"></pagination-controls> -->
  </div>
  