<footer>
    <div class="footer-container">
      <div class="footer-row">
        <div class="footer-col" id="company">
          <img src="" alt="" class="logo" />
          <p>
            We are specialized in designings, make your business a brand. Try
            our premium services.
          </p>
          <div class="footer-social">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div> <!-- Add the missing closing tag here -->
  
        <div class="footer-col" id="services">
          <h3>Services</h3>
          <div class="links">
            <a href="#">Illustration</a>
            <a href="#">Creatives</a>
            <a href="#">Poster Design</a>
            <a href="#">Card Design</a>
          </div>
        </div>
  
        <div class="footer-col" id="useful-links">
          <h3>Links</h3>
          <div class="links">
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Our Policy</a>
            <a href="#">Help</a>
          </div>
        </div>
  
        <div class="footer-col" id="useful-links">
          <h3>Contacts</h3>
          <div class="links">
            <a href="#">+2-8755856858</a>
            <a href="#">+3-876352781</a>
            <a href="#">+1-8755856858</a>
            <a href="#">+1-8755856858</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  