/* .footer {
  background-color: black;
  color: white;
  padding: 1rem;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
} */
footer{
  background-color: #000000ff;
  position: relative;
  width: 100%;
  min-height: 350px;
  padding: 3rem 1rem;
font-size: 15px;
margin-top: 80px;
}
.footer-container {
 max-width: 1140px;
 margin: 0 auto;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.footer-row{
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.footer-col{
 min-width: 250px;
 color:#f2f2f2f2;
 font-family: poppins;
 padding:0 2rem;
}
.footer-col .logo{
 width: 100px;
 margin-bottom:25px;
}
.footer-col h3{
 color:orange;
 margin-bottom: 20px;
 position: relative;
 cursor: pointer;
font-size: 18px;
}
.footer-col h3::after{
 content: '';
 height:3px;
 width:0px;
 background-color:orange;
 position: absolute;
 bottom: 0;
 left:0;
 transition: 0.3s ease;

}
.footer-col h3:hover::after{
 width:30px
}
.footer-col .footer-social a i{
 color:orange;
 margin-top:2rem;
 margin-right: 5px;
 transition: 0.3s ease;
}
.footer-col .footer-social a i:hover{
 transform: scale(1.5);
 filter:grayscale(25);
}
.footer-col .links a{
 display: block;
 text-decoration: none;
 color:#f2f2f2;
 margin-bottom: 5px;
 position: relative;
 transition: 0.3s ease;
}
.footer-col .links a::before{
 content:'';
 height: 16px;
 width:3px;
 position: absolute;
 top:5px;
 left:-10px;
 background-color:orange;
 transition: 0.5s ease;
 opacity: 0;
}
.footer-col .links a:hover::before{
 opacity: 1;
}
.footer-col .links a:hover{
 transform: translateX(-8px);
 color:orange;
}
.footer-col .footer-contact-details{
 display: inline-flex;
 justify-content: space-between;
}
.footer-col .footer-contact-details i{
 margin-right:15px;
}
.footer-contact-details p{
font-size: 10px;
}

.footer-row .footer-form{
 display: flex;
 justify-content: center;
 align-items: center;
 padding:2rem 0;
}
.footer-row .footer-form input{
 background-color: #1a1c20ff;
 border:0;
 outline:none;
 padding:14px 20px;
 border-radius: 6px;
 border-top-right-radius: 0;
 border-bottom-right-radius: 0;
}
.footer-form button{
 padding:14px 20px;
 border:0;
 border-radius: 6px;
 border-top-left-radius: 0;
 border-bottom-left-radius: 0;
 background-color: #ff014fff;
}
